<template>
  <v-row>
    <v-col
      cols="12"
      sm="12"
      offset-sm="3"
    >
      <v-card height="70px" data-app> 
        <v-card-title class="blue white--text">
          <span class="headline">Nuxt App</span>

          <v-spacer></v-spacer>

          <v-menu
            bottom
            left
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                dark
                icon
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-item
                v-for="item in items"
                :key="item"
                link
              >
                <v-list-item-title>
                    <a :href="item.path">
                      {{ item.title }}
                    </a>
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-card-title>

      </v-card>
    </v-col>
  </v-row>
</template>
<script>

export default {
    name: 'Navigation',
      data: () => ({
        items: [
          { title: 'Posts', path: '/posts'},
          { title: 'About Us', path: '/about' },
        ],
      }),
}
</script>

<style>
.header {
  background: #2c3e50;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 1px dotted #2ecc71;
}
.header .text-title {
  font-family: "Oswald";
  font-size: 2rem;
  text-transform: uppercase;
}
.header ul {
  display: flex;
  list-style: none;
}
.header a {
  color: #ffffff;
  background: #2d3436;
  padding: 0.3rem 1rem;
  margin-right: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header a:hover {
  background: #2c3e50;
  border: 1px solid #bdc3c7;
}
.theme--light.v-card {
    background-color:#2c3e50;
}
.v-card__subtitle, .v-card__text, .v-card__title {
    padding: 16px 35px;
}
</style>