<template>
  <div>
    <h1>About Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, hic quo accusamus natus placeat omnis modi consectetur distinctio ipsum non? Iste reprehenderit repellendus dolorem, dolores repudiandae nostrum officia provident nemo.</p>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'About Me | Fazt website',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Website abut tutorials'
        }
      ],
      htmlAttrs: {
        lang: 'en'
      }
    }
  }
}
</script>

<style>
</style>